<!DOCTYPE html>
<html>
<head>
  <title>Image preview and upload</title>
  <link href="pic_preview.css" rel="stylesheet" type="text/css" media="all">
  <script src="pic_preview.js"></script>
</head>
<body>

  <div class="page">
    <%= yield%>
  </div>


</body>
</html>